.bordaMensagem {
    border: 5px solid #ff0000;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

.linkDownload{
    font-weight: bold;
    color: rgb(30, 100, 230);
    cursor: pointer;
}

.espacoMiniatura{
    width: 180px;
}

.acoesUpload button{
    margin: 5px;
}

img .ng-star-inserted{
    max-width: 180px;
}

.formatacaoInstrucoes li {
    text-align: left;
}

.aguardandoSalvar{
    float: right;
    font-size: 12px;
    color: #414141;
    border: 1px solid #888;
    padding: 5px;
    border-radius: 10px;
    background: yellow;
}

.areaArrastar {
    width: 100%;
    border: 2px dashed #888;
    padding: 50px;
}

img .ng-star-inserted {
    max-width: 180px;
}
