<div class="ui-g">
        <div class="ui-g-12">
<div *ngIf="componenteCarregado ;else carregandoComponente">
    <div *ngIf="chaveModulo != null && chaveModulo != '';else componenteIncompleto">

        <div *ngIf="moduloValidado;else moduloNaoEncontrado">

            <p-fileUpload #uploader name="arquivo" url="{{urlUpload}}" multiple="multiple" maxFileSize="{{tamanhoMaximoEmMb}}" auto="true"
                accept="{{extensoesValidas}}" method="POST" [disabled]="disabilita" chooseLabel="Escolher Arquivos" (onBeforeSend)="onBeforeSend($event)"
                (onError)="onError($event)" (onClear)="onClear($event)" (onUpload)="onUpload($event)" (onRemove)="onRemove($event.file)">
                <ng-template pTemplate="content">
                    <ul *ngIf="repositorio != null && repositorio.arquivos != null && repositorio.arquivos.length; else arrastarArquivos">

                        <strong *ngIf="repositorio.expiraEm != null && repositorio.expiraEm != '' " class="aguardandoSalvar" title="Expira em {{repositorio.expiraEm}}">
                            Aguardando salvar o registro.
                        </strong>

                        <div *ngFor="let file of repositorio.arquivos" class="ui-fileupload-files ng-star-inserted">
                            <div class="ng-star-inserted">
                                <div class="ui-fileupload-row ng-star-inserted areaImagem">
                                    <div class="espacoMiniatura">
                                        <img *ngIf="file.miniaturaBase64" alt="Anexo" width="100" src="data:image/jpg;base64,{{file.miniaturaBase64}}" />
                                    </div>
                                    <div>
                                        <a class='linkDownload' (click)="download(file)" download={{file.nome}}>
                                            {{file.nome}}
                                        </a>
                                    </div>
                                    <div>
                                        <strong>{{file.tamanho}}</strong>
                                    </div>
                                    <div>
                                        <span class='acoesUpload'>
                                            <button (click)="download(file)" icon="pi pi-download" pbutton="" title="Fazer o download" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                                <span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-download"></span>
                                                <span class="ui-button-text ui-clickable">Download</span>
                                            </button>

                                            <button (click)="abrirUrlDownload(file)" icon="pi pi-external-link" pbutton="" title="Abrir em uma nova aba" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                                <span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-external-link"></span>
                                                <span class="ui-button-text ui-clickable">Download</span>
                                            </button>

                                            <button (click)="onRemove(file)" [disabled]="disabilita" icon="pi pi-times" pbutton="" title="Excluir o arquivo" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                                <span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-times "></span>
                                                <span class="ui-button-text ui-clickable">Remover</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </ng-template>

            </p-fileUpload>
        </div>
    </div>
</div>
</div>
</div>



<ng-template #arrastarArquivos>
    <div class='areaArrastar'>
        Clique no botão "Escolher Arquivos" ou arraste os arquivos na área delimitada.
    </div>
</ng-template>

<ng-template #componenteIncompleto>
    <div class='bordaMensagem'>
        <h2>Parâmetros Incompletos do Componente de UPLOAD</h2>
        <ul class="formatacaoInstrucoes">
            <li>
                <strong>
                        &lt;app-file-upload #fileup chaveModulo="CHAVE_DO_MODULO_FIXA" [chaveRepositorio]="entidade.anexo" (onConcluirUpload)="onConcluirUpload($event)"
                        &gt;&lt;/app-file-upload&gt;
                </strong>
                <hr>
            </li>
            
            <li>
                <strong>chaveModulo</strong> (Fornecido pelo serviço de upload)</li>
            <li>
                <strong>[chaveRepositorio]</strong> (Obrigatório caso já exista). Do tipo
                <strong>string</strong> de tamanho
                <strong>64</strong>
            </li>
            <li> 
                <strong>(onConcluirUpload)="onConcluirUpload($event)"</strong> (Obrigatório - Método onConcluirUpload deve ser criado
                no arquivo *.ts que tem o elemento).
                <pre>Ex:
                        <em>
                            <![CDATA[
                            onConcluirUpload(chaveRepositorio: string) {
                                if(chaveRepositorio == null){
                                    return false;
                                }
                                this.entidade.anexo = chaveRepositorio;
                            }
                            ]]>
                        </em>
                </pre>
            </li>

            <li>NÃO se esqueça de fazer a referência do UPLOAD ao salvar o registro, chamando o método "reset()".

                <pre>Ex:
                // Criar uma referência para o componente #fileup
                <em>@ViewChild('fileup') fileup: any;</em>


                // No método que salvar acrescentar a seguinte linha:
                <em>this.fileup.reset();</em>

                // validar UPLOAD
                <em>this.fileup.validar();</em>

                </pre>
            </li>



           

        </ul>
    </div>
</ng-template>


<ng-template #moduloNaoEncontrado>
    <div class='bordaMensagem'>
        <h2>Módulo não encontrado</h2>
        <ul class="formatacaoInstrucoes">
            <li>chaveModulo (Obrigatório - Fornecido pelo serviço de upload)</li>
        </ul>
    </div>
</ng-template>

<ng-template #carregandoComponente>
    <div class=''>
        <h2>Carregando componente upload...</h2>
    </div>
</ng-template>