<div class="card">
  <div class="ui-fluid">
      <p-growl [(value)]="msgs"></p-growl>
      <p-card class="cad_cadastro ui-g-12" title="Produto">
          <hr>
          <form class="ui-g" (ngSubmit)="salvar()" #produtoForm="ngForm">
              <div  class="ui-g-10 ui-fluid" >
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                      <label  class="required form-label" for="nome">Nome:</label>
                  </div>
                  <div class="ui-g-12 ui-md-9 ui-lg-5 ">
                      <input id="nome"  required type="text" size="30" pInputText [(ngModel)]="produto.nome" name="nome" #nome="ngModel"  maxlength="50">
                      <p-message [hidden]="nome.valid || nome.pristine" severity="error" text="Nome deve ser preenchido"></p-message>
                  </div>
              </div>

              <div  class="ui-g-10 ui-fluid" >
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                      <label  class="form-label" for="marca">Marca:</label>
                  </div>
                  <div class="ui-g-12 ui-md-9 ui-lg-5 ">
                      <input id="marca"  type="text" size="30" pInputText [(ngModel)]="produto.marca" name="marca" #marca="ngModel"  maxlength="50">
                  </div>
              </div>

              <div  class="ui-g-10 ui-fluid" >
                <div class="ui-g-12 ui-md-3 ui-lg-2">
                    <label  class="form-label" for="descricao">Descrição:</label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-lg-8 ">
                    <textarea id="descricao" rows="5" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="produto.descricao"
                      name="descricao" maxlength="255" #descricao="ngModel"></textarea>
                </div>
              </div>

              <div  class="ui-g-10 ui-fluid" >
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                      <label  class="required form-label" for="preco">Preço:</label>
                  </div>
                  <div class="ui-g-12 ui-md-9 ui-lg-5 ">
                      <input id="preco"  required type="text" size="30" pInputText [(ngModel)]="produto.preco" name="preco" #preco="ngModel">
                      
                  </div>
              </div>
              <div  class="ui-g-10 ui-fluid" >
                  <div class="ui-g-12 ui-md-3 ui-lg-2">
                      <label  class="form-label" for="categoria">Categoria:</label>
                  </div>
                  <div class="ui-g-12 ui-md-9 ui-lg-4">
                      <p-dropdown id="categoria" [options]="categorias" [(ngModel)]="produto.categoria" name="produto.categoria"
                      optionLabel="descricao" filter="true" placeholder="Selecione uma Categoria"></p-dropdown>
                  </div>
              </div>

              <div  class="ui-g-12 ui-fluid" >
                  <p-fieldset legend="Imagens" [toggleable]="true">
                    <p-fileUpload name="files" (onUpload)="onUpload($event)"
                        multiple="multiple" accept="image/*" url="{{uploadUrl}}" maxFileSize="1000000" >
                        <ng-template pTemplate="content">
                            <div *ngFor="let file of files" class="ui-fileupload-files ng-star-inserted">
                                <div class="espacoMiniatura">
                                    <img *ngIf="file" alt="Anexo" width="100" src="data:image/jpg;{{file}}" />
                                </div>
                                <div>
                                    <a class='linkDownload' (click)="download(file)" download={{file.nome}}>
                                        {{file.nome}}
                                    </a>
                                </div>
                                <div>
                                    <button (click)="download(file)" icon="pi pi-download" pbutton="" title="Fazer o download" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                        <span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-download"></span>
                                        <span class="ui-button-text ui-clickable">Download</span>
                                    </button>
                                    <button (click)="onRemove(file)" [disabled]="disabilita" icon="pi pi-times" pbutton="" title="Excluir o arquivo" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                        <span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-times "></span>
                                        <span class="ui-button-text ui-clickable">Remover</span>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                  </p-fieldset>
              </div>
              <div class="ui-fluid">
                  <div class="ui-g-6 ui-md-6 ui-lg-10">
                      <p-button label="Voltar" style="float: right;" [routerLink]="['/']" routerLinkActive="active"></p-button>
                  </div>
                  <div class="ui-g-6 ui-md-6 ui-lg-2">
                      <p-button type="submit" [disabled]="produtoForm.form.invalid" label="Salvar" style="float: left;"></p-button>
                  </div>
              </div>
          </form>
      </p-card>
  </div>
</div>
