<div class="ui-g">
<div class="ui-g-12 ui-lg-3 ui-fluid"></div>
  <p-card class="cad_cadastro ui-g-12  ui-lg-6" title="Tema">
      <hr>
    <form class="ui-g" (ngSubmit)="salvar()" #temaForm="ngForm">
        <div  class="ui-fluid" >
            <div class="ui-g-12 ui-md-12 ui-lg-2">
                <label  class="required form-label" for="nome">Nome:</label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-9 ">
                <input id="nome" required  size="30" pInputText [(ngModel)]="tema.nome" #nome="ngModel" name="nome"  maxlength="300">
                <p-message [hidden]="nome.valid || nome.pristine" severity="error" text="Nome deve ser preenchido"></p-message>
              </div>
        
        <BR/>
        <BR/>
        <BR/>
        <div class="ui-fluid"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-2">
                <label  class="required form-label" for="sigla">Descrição:</label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-9 ">
                <textarea id="descricao" required  pInputTextarea autoResize="autoResize" [(ngModel)]="tema.descricao" #descricao="ngModel" name="descricao" 
                [rows]="8" [cols]="80" maxlength="1000"></textarea>
                <p-message [hidden]="descricao.valid || descricao.pristine" severity="error" text="Descricao deve ser preenchido"></p-message>
            </div>
        </div>
        <BR/>
        <BR/>
        <div class="ui-g-11">
            <p-checkbox style="float:right" label="Ativo" [(ngModel)]="tema.situacao" binary="true" name="situacao" [style]="{'margin-left':'10px'}"></p-checkbox>
        </div>
        <br/>
        <br/>
        <div  id="butonJuris">
            <div class="ui-g-6 ui-md-6 ui-lg-9">
                <button type="button" pButton label="Voltar" title="Voltar" style="float:right" [routerLink]="['/temas']" routerLinkActive="active"></button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2">
                <button  type="submit" [disabled]="temaForm.form.invalid" pButton label="Salvar" title="salvar" style="float: right;"></button>
            </div>
        </div>
    </form>
  </p-card>
  <div class="ui-g-12 ui-lg-3  ui-fluid"></div>
</div>