<div class="ui-g">
<div class="ui-g-12 ui-lg-3 ui-fluid"></div>
  <p-card class="cad_cadastro ui-g-12 ui-lg-6" title="Tipo de Recurso">
      <hr>
    <form  class="ui-g"  (ngSubmit)="salvar()" #tipoDeProcessoForm="ngForm">
        <div  class="ui-fluid" >
            <div class="ui-g-12 ui-md-3 ui-lg-2">
                <label  class="required form-label" for="sigla">Sigla:</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-lg-9 ui-fluid">
                <input id="sigla" required  pInputText [(ngModel)]="tipoDeProcesso.sigla" #sigla="ngModel" name="sigla" maxlength="15">
                <p-message [hidden]="sigla.valid || sigla.pristine" severity="error" text="Sigla deve ser preenchida"></p-message>
              </div>
        
        <BR/>
        <BR/>
        <BR/>
        
            <div class="ui-g-12 ui-md-3 ui-lg-2">
                <label  class="required form-label" for="sigla">Descrição:</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-lg-9 ui-fluid">
                <textarea id="descricao" required  pInputTextarea [(ngModel)]="tipoDeProcesso.descricao" #descricao="ngModel" name="descricao" 
                [rows]="8" [cols]="80" maxlength="300"></textarea>
                <p-message [hidden]="descricao.valid || descricao.pristine" severity="error" text="Descricao deve ser preenchido"></p-message>
            </div>
         </div>
         <BR/>
         <BR/>
         <div class="ui-g-11">
            <p-checkbox style="float:right" label="Ativo" [(ngModel)]="tipoDeProcesso.situacao" binary="true" name="situacao" [style]="{'margin-left':'10px'}"></p-checkbox>
          </div>
          <BR/>
          <BR/>
          <div   id="butonJuris">
              <div class="ui-g-6 ui-md-6 ui-lg-9">
                  <button type="button" pButton label="Voltar" style="float:right" [routerLink]="['/tipodeprocesso']" routerLinkActive="active"></button>
              </div>
              <div class="ui-g-6 ui-md-6 ui-lg-2">
                  <button type="submit" [disabled]="tipoDeProcessoForm.form.invalid" pButton label="Salvar" style="float: right;"></button>
              </div> 
        </div>
    </form>
  </p-card>
  <div class="ui-g-3 ui-fluid"></div>
</div>