<div class="ui-g">
<div class="ui-g-12 ui-lg-3 ui-fluid"></div>
  <p-card class="cad_cadastro ui-g-12  ui-lg-6" title="Sub-Tema">
      <hr>
    <form class="ui-g" (ngSubmit)="salvar()" #subTemasForm="ngForm">
      <div  class="ui-fluid" >
            <div class="ui-g-12 ui-md-3 ui-lg-2">
                <label  class="required form-label" for="macrotema">Tema:</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-lg-9 ui-fluid">
                <p-dropdown required name="subTemas.tema" [style]="{'width':'250px'}" [options]="optionsDropdownTema" [(ngModel)]="subTemas.tema"
                optionLabel="nome" filter="true" placeholder="Selecione um Tema"></p-dropdown>
            </div>
      
      <BR/>
      <BR/>
      <BR/>
      
          <div class="ui-g-12 ui-md-3 ui-lg-2">
              <label  class="required form-label" for="subtema">Sub-tema:</label>
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9 ui-fluid">
              <input id="nome" required size="30" pInputText [(ngModel)]="subTemas.nome" #nome="ngModel" name="nome"  maxlength="300">
              <p-message [hidden]="nome.valid || nome.pristine" severity="error" text="Nome do subtema deve ser preenchido"></p-message>
          </div>
      
      <BR/>
      <BR/>
      <BR/>
      
          <div class="ui-g-12 ui-md-3 ui-lg-2">
              <label  class="form-label" for="descricao">Descrição:</label>
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9 ui-fluid">
              <textarea id="descricao" pInputTextarea [(ngModel)]="subTemas.descricao" #descricao="ngModel" name="descricao" 
              [rows]="8" [cols]="80" maxlength="1000" ></textarea>
          </div>
      </div> 
      <div class="ui-g-11">
          <p-checkbox style="float:right" label="Ativo" [(ngModel)]="subTemas.situacao" binary="true" name="situacao" [style]="{'margin-left':'10px'}"></p-checkbox>
      </div>
      <BR/>
      <BR/>
      <div  id="butonJuris">
          <div class="ui-g-6 ui-md-6 ui-lg-9">
              <button type="button" pButton label="Voltar" title="Voltar" style="float:right" [routerLink]="['/subtema']" routerLinkActive="active"></button>
          </div>
          <div class="ui-g-6 ui-md-6 ui-lg-2">
              <button type="submit" [disabled]="subTemasForm.form.invalid" title="salvar"  pButton label="Salvar" style="float: right;"></button>
          </div>
      </div>
    </form>
  </p-card>
  <div class="ui-g-12 ui-lg-3 ui-fluid"></div>
</div>