<div class="card">
  <div class="ui-g-12">
    <p-card title="Produtos">
        <div>
            <div class="ui-helper-clearfix">
                <button type="button" pButton label="Novo Produto" title="Novo Produto" icon="pi pi-plus" [routerLink]="['/novo-produto/'+idFornecedor]" routerLinkActive="active"
                  style="float:right"></button>
            </div>
        </div>
        <div *ngIf="produtos" class="ui cards">
            <div class="card product" *ngFor="let produto of produtos" >
              <div class="ui-g-12 ui-md-4 ui-lg-3">
                <div *ngIf="produto.imagens" class="image">
                    <p-fileUpload name="produto.imagens" [disabled]="true" showUploadButton="false"
                          multiple="multiple" accept="image/*" url="{{uploadUrl}}" maxFileSize="1000000" >
                          <ng-template pTemplate="content">
                              <div  class="ui-fileupload-files ng-star-inserted">
                                  <div class="espacoMiniatura">
                                      <img *ngIf="produto.imagens[0]" alt="Anexo" width="100" src="{{produto.imagens[0].url}}" />
                                  </div>
                              </div>
                          </ng-template>
                      </p-fileUpload>
                </div>
                <div class="content">
                  <h4 class="header">{{produto.nome}}</h4>
                  <div class="meta">
                    <div>{{produto.preco}} Reais</div>
                  </div>
                  <div class="description">
                    {{produto.descricao.substr(0, 200)}}
                  </div>
                </div>
                <div class="extra content">
                  <p-button   label="Editar" (onClick)="editarProduto([produto.id])" ></p-button>
                </div>
              </div>
            </div>
        </div>
    </p-card>
  </div>
</div>