<div class="ui-g">
<div class="ui-g-12 ui-lg-3 ui-fluid"></div>
<p-card class="cad_cadastro ui-g-12 ui-lg-6 " title="Tribunal">
  <hr>
  <form class="ui-g" (ngSubmit)="salvar()" #tribunalForm="ngForm">
    <div  class="ui-g-12 ui-fluid" >
      <div class="ui-g-12 ui-md-12 ui-lg-2">
          <label  class="required form-label" for="nome">Nome:</label>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-9 ">
          <input id="nome"  required type="text" size="30" pInputText [(ngModel)]="tribunal.nome" name="nome" #nome="ngModel"  maxlength="300">
          <p-message [hidden]="nome.valid || nome.pristine" severity="error" text="Nome deve ser preenchido"></p-message>
      </div>
     
    
    <BR/>
    <BR/>
    <BR/>
    
      <div class="ui-g-12 ui-md-12 ui-lg-2">
          <label  class="required form-label" for="sigla">Sigla:</label>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-9 ">
          <input id="sigla" required type="text" size="30" pInputText [(ngModel)]="tribunal.sigla" name="sigla" #sigla="ngModel" maxlength="50" >
          <p-message [hidden]="sigla.valid || sigla.pristine" severity="error" text=" Sigla deve ser preenchida"></p-message>
      </div>
    </div>
    <BR/>
    <BR/>
    <div class="ui-g-11">
      <p-checkbox style="float:right" label="Ativo" [(ngModel)]="tribunal.ativo" binary="true" name="ativo" [style]="{'margin-left':'10px'}"></p-checkbox>
    </div>

    <br/>
    <br/>
    <div id="butonJuris">
      <div class="ui-g-6 ui-md-6 ui-lg-9">
          <button type="button" pButton label="Voltar" title="Voltar" style="float:right" [routerLink]="['/tribunais']"   routerLinkActive="active"></button>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-2">
         
          <button type="submit" [disabled]="tribunalForm.form.invalid" style="float: right;" pButton label="Salvar" title="Salvar"></button>
      </div>
    </div>
    
  </form>
</p-card>

<div class="ui-g-12 ui-lg-3 ui-fluid"></div>
</div>
