<div class="landing-body" id="PrincipalExternoBody">
    <div id="introduction">
        <div >

            <div>
                <div class="ui-g-12 ui-lg-3 ui-fluid"></div>
                <h1 align="center" class="ui-g-12 ui-lg-6 ui-fluid first">O que você procura?</h1>
                <div class="ui-g-12 ui-lg-3 ui-fluid"></div>
            </div>
            <div  class=" divCenter ui-g-6">
                <button align="center" class="btn-work ui-fluid" id="comprar" type="button" pButton label="QUERO COMPRAR" (click)="comprar()"></button>
            </div>
            <div class=" divCenter ui-g-6">
                <button align="center" class="btn-work ui-fluid" id="vender" type="button" pButton  label="QUERO VENDER" (click)="vender()"></button>
            </div>
        </div>
    </div>
</div>