<div class="landing-body" id="PrincipalExternoBody">
        <div id="introduction">
            <div >

                <div>
                    <div class="ui-g-12 ui-lg-3 ui-fluid"></div>
                    <h1 class="ui-g-12 ui-lg-6 ui-fluid first">O que você procura?</h1>
                    <div class="ui-g-12 ui-lg-3 ui-fluid"></div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-lg-3 ui-fluid">

                    </div>
                    <div class="ui-g-12 ui-lg-6 ui-fluid tabViewClass">
                        <p-tabView>
                            <p-tabPanel header="Jurispruência" >
                                <div class="pesquisaRapida">
                                        <p-dropdown class=" ui-fluid"  [options]="optionsDropdownRamo" [(ngModel)]="ramoSelecionado" optionLabel="descricao"
                                   
                                        filter="true" [showClear]="true" placeholder="Cooperativismo"></p-dropdown>

                           
                                        <input class="ui-fluid" id="pesquisa-livre" [(ngModel)]="descricaoJuris" type="text" pInputText  placeholder="Buscar por jurisprudências"/>
                       
                                        <button class="botaoDesktop ui-fluid" id="pesquisar" type="button" pButton icon="pi pi-search" ></button>
                
                                        <button class="botaoMobile ui-fluid" label="Pesquisar" title="Pesquisar"  id="pesquisarMobile" type="button" pButton icon="pi pi-search" (click)="filtrar()"></button>
                                    
                                </div>
                                <div>
                                    <div class="ui-g-12 ui-lg-8">
                                            <p class="textoPadrao">
                                                    Encontre decisões judiciais sobre matérias de interesse e relevância para as sociedades cooperativas.
                                            </p>

                                    </div>
                                    <div  class="ui-g-12 ui-lg-4 ">
                                        <a  class="linkPesquisa" [routerLink]="['/jurisprudencias/externo']"  > Pesquisa avançada</a>
                                    </div>

                                </div>           
                            </p-tabPanel>
                             <p-tabPanel header="Pesquisa Pronta" *ngIf="false" >
                                    <div class="pesquisaRapida">                              
                                            <input class="ui-fluid" id="pesquisa-livre" [(ngModel)]="descricaoPesquisaPronta" type="text" pInputText placeholder="Buscar por pesquisas prontas"  />
                           
                                            <button class="botaoDesktop ui-fluid" id="pesquisar" type="button" pButton icon="pi pi-search" ></button>
                    
                                            <button class="botaoMobile ui-fluid" label="Pesquisar" title="Pesquisar"  id="pesquisarMobile" type="button" pButton icon="pi pi-search" (click)="filtrar()"></button>
                                        
                                    </div>
                                    <div>
                                        <div class="ui-g-12 ui-lg-8">
                                                <p class="textoPadrao">
                                                        Encontre compilados de decisões judiciais sobre determinados temas jurídicos, organizados por ramos do Direito e assuntos de maior destaque para as sociedades cooperativas.
                                                </p>
    
                                        </div>
                                        <div  class="ui-g-12 ui-lg-4 ">
                                            <a  class="linkPesquisa" [routerLink]="['/compendios']"  >Ver todas as pesquisas prontas</a>
                                        </div>
    
                                    </div>        
                             </p-tabPanel>
                            <p-tabPanel header="Demandas Repetitivas" >
                                    <div class="pesquisaRapida">                              
                                            <input class="ui-fluid" id="pesquisa-livre"  type="text" pInputText placeholder="Buscar por demandas repetitivas"  />
                           
                                            <button class="botaoDesktop ui-fluid" id="pesquisar" type="button" pButton icon="pi pi-search"></button>
                    
                                            <button class="botaoMobile ui-fluid" label="Pesquisar" title="Pesquisar"  id="pesquisarMobile" type="button" pButton icon="pi pi-search" ></button>
                                        
                                    </div>
                                    <div>
                                        <div class="ui-g-12 ui-lg-8">
                                                <p class="textoPadrao">
                                                        Encontre os processos judiciais selecionados pelos tribunais superiores como representativos de controvérsias para a sistematização das decisões e uniformização da jurisprudência.
                                                </p>
    
                                        </div>
                                        <div  class="ui-g-12 ui-lg-4 ">
                                            <a  class="linkPesquisa"   >Ver todas Demandas Repetitivas</a>
                                        </div>
    
                                    </div>     
                            </p-tabPanel>
                            
                        </p-tabView>

                    </div>
                    <div class="ui-g-12 ui-lg-3 ui-fluid">

                    </div>
                    

                </div>
                


               
            </div>
        </div>
        <div id="features"> 
            <div>
              <div  class="ui-g-12 ui-fluid">
                <div [ngClass]="temPermissao ? 'ui-g-12  ui-md-6 ui-lg-3  feature-box' : 'ui-g-12 ui-md-6 ui-lg-4  feature-box'">
                    <a [routerLink]="['/jurisprudencias/externo']">
                        <div>
                            <img src="../../../assets/images/auction.svg" alt="">
                            <h3>JURISPRUDÊNCIA</h3>
                            <p>Encontre decisões judiciais sobre matérias de interesse e relevância para as sociedades cooperativas.</p>
                        </div>
                    </a>
                    <BR/>
                </div>
                <div [ngClass]="temPermissao ? 'ui-g-12 ui-md-6 ui-lg-3 feature-box' : 'ui-g-12 ui-md-6 ui-lg-4 feature-box '">
                    <a [routerLink]="['/compendios']">
                        <div >
                            <img src="../../../assets/images/balance.svg" alt="">
                            <h3>PESQUISA PRONTA</h3>
                            <p>Encontre compilados de decisões judiciais sobre determinados temas jurídicos, organizados por ramos do Direito e assuntos de maior destaque para as sociedades cooperativas</p>
                      </div>
                    </a>
                    <BR/>
                </div>
                <div [ngClass]="temPermissao ? 'ui-g-12  ui-md-6 ui-lg-3 feature-box' : 'ui-g-12  ui-md-12 ui-lg-4 feature-box'">
                        <a [routerLink]="['/informativos/externo']">
                            <div >
                                <img src="../../../assets/images/information.svg" alt="">
                                <h3>INFORMATIVO</h3>
                                <p>Consulta de informativos com todas as decisões lançadas sobre as cooperativas</p>
                          </div>
                        </a>
                        <BR/>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3 feature-box" appHideIfUnauthorized='PARAMETRIZAR_JURIS'>
                        <a [routerLink]="['/jurisprudencias']">
                            <div >
                                <img src="../../../assets/images/manager.svg" alt="">
                                <h3>ÁREA ADMINISTRATIVA</h3>
                                <p>Área administrativa para publicação de jurisprudencias</p>
                          </div>
                        </a>
                        <BR/>
                </div>
              </div>
            </div>
        </div>
</div>