<div id="RefinarBuscaHeader" class="backgroundUsuario">
  <div>
    <BR/>
    <div>
      <h1>Usuários</h1>
    </div>
    <BR/>
    <BR/>
  </div>
</div>
<div class="card">
  <div class="ui-g-12">
    <p-card class="cad_cadastro ui-g-12 " title="Usuários">
      <hr>
      <p-tabView>
        <p-tabPanel header="Pendentes" [selected]="true">

          <div>
            <form>
              <p-table #dt [columns]="colsPend" [value]="pendencias" [rows]="nrLinhasTabela" [totalRecords]="totalRecords" dataKey="sqPendenciaUsuario"
                [tableStyle]="{'table-layout':'auto'}" [responsive]="true" selectionMode="single" [(selection)]="pendenciaUsuarioSelecionada"
                (onRowSelect)="onRowSelectPendencia($event)" [lazy]="true" (onLazyLoad)="loadLazy($event)">
                <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix">
                    <br/>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let col of colsPend" title="{{col.header}}">
                      {{col.header}}
                    </th>
                    <th title="Aprovar" style="width: 7%;">Aprovar</th>
                    <th title="Excluir" style="width: 7%;">Excluir</th>
                  </tr>
                  <tr>
                    <th *ngFor="let col of colsPend" [ngSwitch]="col.field">
                      <input class="ui-fluid" pInputText style="width: 100%;" *ngSwitchCase="'nome'" placeholder="Nome de usuário" pInputText [(ngModel)]="filtroNome"
                        type="text" (input)="onChangeFilter()" [ngModelOptions]="{standalone: true}">
                      <input class="ui-fluid" pInputText style="width: 100%;" *ngSwitchCase="'email'" placeholder="E-mail do usuário" pInputText
                        [(ngModel)]="filtroEmail" type="text" (input)="onChangeFilter()" [ngModelOptions]="{standalone: true}">
                      <input class="ui-fluid" pInputText style="width: 100%;" *ngSwitchCase="'nomeEntidade'" placeholder="Entidade" pInputText
                        [(ngModel)]="filtroNomeEntidade" type="text" (input)="onChangeFilter()" [ngModelOptions]="{standalone: true}">
                      <input class="ui-fluid" pInputText style="width: 100%;" *ngSwitchCase="'sqTipo'" placeholder="Tipo" pInputText [(ngModel)]="filtroTipo"
                        type="text" (input)="onChangeFilter()" [ngModelOptions]="{standalone: true}">
                      <input class="ui-fluid" pInputText style="width: 100%;" *ngSwitchCase="'sqUf'" placeholder="UF do usuário" pInputText [(ngModel)]="filtroUF"
                        type="text" (input)="onChangeFilter()" [ngModelOptions]="{standalone: true}">
                    </th>
                    <th></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pend>
                  <tr [pSelectableRow]="pend">
                    <td>
                      <span class="ui-column-title">Usuário</span>
                      {{pend.nome}}
                    </td>
                    <td>
                      <span class="ui-column-title">E-mail</span>
                      {{pend.email}}
                    </td>
                    <td>
                      <span class="ui-column-title">Telefone</span>
                      {{(pend.telefone ? pend.telefone : 'Não possui')}}
                    </td>
                    <td>
                      <span class="ui-column-title">Nome da Entidade</span>
                      {{(pend.nomeEntidade ? pend.nomeEntidade : 'Não possui')}}
                    </td>
                    <td>
                      <span class="ui-column-title">Tipo</span>
                      {{(pend.sqTipo == 'C' ? "Cooperativa" : "")+(pend.sqTipo == 'E' ? "Estadual" : "")+ (pend.sqTipo == 'N' ? "Nacional" : "")+(pend.sqTipo
                      == 'O' ? "Empresa" : "")}}
                    </td>
                    <td>
                      <span class="ui-column-title">UF</span>
                      {{pend.sqUf}}
                    </td>
                    <td>
                      <span class="ui-column-title">Operações</span>
                      <div style="text-align:center">
                        <p-button icon="pi pi-fw pi-check" title="Aprovar" class="table-button" styleClass="ui-button-success" (onClick)="aprovar(pend)"
                          [disabled]="desabilitaAprovacao"></p-button>
                      </div>
                    </td>
                    <td>
                      <span class="ui-column-title">Operações</span>
                      <div style="text-align:center; -webkit-padding-start: 0px;">
                        <p-button icon="pi pi-fw pi-trash" title="Excluir" class="table-button" styleClass="ui-button-danger" (onClick)="excluir(pend.sqPendenciaUsuario)"></p-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="10" style="text-align: center;">
                      Nenhum usuário encontrado.
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                  <p-paginator [rows]="nrLinhasTabela" [totalRecords]="responsePage ? responsePage.data.totalElements: 0" (onPageChange)="paginate($event)"></p-paginator>
                </ng-template>
              </p-table>
            </form>
          </div>

        </p-tabPanel>
        <p-tabPanel header="Todos">

          <div>
            <form>
              <p-table #dt [columns]="cols" [value]="usersPage ? usersPage.content : []" [rows]="20" [totalRecords]="usersPage ? usersPage.totalElements: 0"
                [paginator]="true" [tableStyle]="{'table-layout':'auto'}" [responsive]="true" selectionMode="single" [(selection)]="usarioSelecionado"
                (onRowSelect)="onRowSelectUser($event)">
                <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix">
                    <div style="text-align:left;font-weight:normal;">
                      <div class="ui-g-1 ui-md-2 ui-sm-3">
                        <label class="form-label" for="nome">Pesquisa livre:</label>
                      </div>
                      <div class="ui-g-3 ui-sm-5">
                        <input id="nome" size="20" pInputText [(ngModel)]="query" [ngModelOptions]="{standalone: true}" style="width: 100%">
                      </div>
                      <div class="ui-g-1">
                        <button style="float: left;" pButton icon="pi pi-search" (click)="pesquisarUsuarios()"></button>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let col of cols" title="{{col.header}}">
                      {{col.header}}
                    </th>
                    <th title="Excluir" style="width: 7%;">Excluir</th>
                  </tr>
                  <tr>
                    <th *ngFor="let col of cols" [ngSwitch]="col.field">
                      <input *ngSwitchCase="'usuario'" pInputText type="text" style="width: 100%;" placeholder="Usuário" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      <input *ngSwitchCase="'nome'" pInputText type="text" style="width: 100%;" placeholder="Nome" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      <input *ngSwitchCase="'email'" pInputText type="text" style="width: 100%;" placeholder="E-mail" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      <input *ngSwitchCase="'nomeEntidade'" pInputText type="text" style="width: 100%;" placeholder="Entidade" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      <input *ngSwitchCase="'tipo'" pInputText type="text" style="width: 100%;" placeholder="Tipo" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    </th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr [pSelectableRow]="user">
                    <td>
                      <span class="ui-column-title">Usuário</span>
                      {{user.usuario}}
                    </td>
                    <td>
                      <span class="ui-column-title">Nome</span>
                      {{user.nome}}
                    </td>
                    <td>
                      <span class="ui-column-title">e-mail</span>
                      {{user.email}}
                    </td>
                    <td>
                      <span class="ui-column-title">Telefone</span>
                      {{user.telefone}}
                    </td>
                    <td>
                      <span class="ui-column-title">Entidade</span>
                      {{user.nomeEntidade}}
                    </td>
                    <td>
                      <span class="ui-column-title">Tipo</span>
                      {{user.tipo}}
                    </td>
                    <td>
                      <span class="ui-column-title">Operações</span>
                      <div style="text-align:center; -webkit-padding-start: 0px;">
                        <p-button icon="pi pi-fw pi-trash" title="Excluir" class="table-button" styleClass="ui-button-danger" (onClick)="excluirGrupo(user)"></p-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="10" style="text-align: center;">
                      Nenhum usuário encontrado.
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </form>
          </div>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>