<div class="row card-deck">
  <div *ngFor="let p of produtoPedidos">
        <div class="ui-g-12 ui-md-4 ui-lg-3">
            <div *ngIf="p.produto.imagens" class="image">
                <p-fileUpload name="p.produto.imagens" [disabled]="true"
                    multiple="multiple" accept="image/*" url="{{uploadUrl}}" maxFileSize="1000000" >
                    <ng-template pTemplate="content">
                        <div  class="ui-fileupload-files ng-star-inserted">
                            <div class="espacoMiniatura">
                                <img *ngIf="p.produto.imagens[0]" alt="Anexo" width="100" src="{{p.produto.imagens[0].url}}" />
                            </div>
                        </div>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <h4>{{p.produto.nome}}</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">R${{p.produto.preco}}</h4>
                    <div >
                        <p-spinner size="30" [(ngModel)]="p.quantidade" [min]="0" [max]="100"></p-spinner>
                    </div>
                    <br/>
                    <br/>
                    <div >
                      <p-button size="30" class="btn btn-primary" (onClick)="adicionar(p)"
                              [disabled]="p.quantidade <= 0">ADCIONAR AO CARRINHO
                      </p-button>
                    </div>
                    <br/>
                    <div >
                      <p-button class="btn btn-primary btn-block"
                              (onClick)="remover(p)">REMOVER DO CARRINHO
                      </p-button>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
