<div class="ui-g">
  <p-card class="ui-g-12" title="Atualizar Grupos do Usuário">
    <hr />
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-2 ui-lg-1 ">
        <label class="rotulo">Usuário:</label>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <span class="valor">{{user.username}}</span>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-2 ui-lg-1 ">
        <label class="rotulo">Nome:</label>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <span class="valor">{{user.firstName}} {{user.lastName}}</span>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-2 ui-lg-1 ">
        <label class="rotulo">e-mail:</label>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <span class="valor">{{user.email}}</span>
      </div>
    </div>
    
    <p-pickList (onMoveToSource)="onMoveToSource($event)" (onMoveToTarget)="onMoveToTarget($event)" [sourceHeader]="'Grupos Disponíveis'"
      [targetHeader]="'Grupos Atribuídos'" [showSourceControls]="false" [showTargetControls]="false" [source]="gruposDisponiveis"
      [target]="gruposAtribuidos">
      <ng-template let-grupo pTemplate="item">
        <span title="{{grupo.path}}">{{grupo.name}}</span>
      </ng-template>
    </p-pickList>
    <div>
      <div class="ui-g-6 ui-md-6 ui-lg-6">
          <button type="button" pButton label="Voltar" title="Voltar" style="float:right" [routerLink]="['/usuarios']"   routerLinkActive="active"></button>
      </div>
    </div>
    <br/>
    <br/>
  </p-card>
</div>
